footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

footer a {
    text-decoration: none;
    color: var(--text);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
}


footer div {
    display: flex;
    gap: 2rem;
}