nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #0000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: #2921c6da;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
}


nav div {
    display: flex;
    gap: 2rem;
}